<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super super site de gossip, depuis le dossier views !</h1>
  </body>
  <a href="/gossips/new/">Créer un  nouveau potin</a>


</html>